h4{
  color: white;
}

.hover{
    background-color: rgb(172, 7, 7)
}

.hoverRed:hover{
  color: rgb(128, 128, 128);
}

.hover:hover{
    background-color: rgba(0,0,0,0.5);
}

body {
  background-color: rgba(79, 86, 92, 0.856)
}

nav {
  background-color: rgb(145, 10, 10);
  /* height: 100px; */
}
